<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
   <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
<div class="container-fluid">
<a class="navbar-brand d-flex"  href="/" >
<img src="/images/app-logo.jpg" class="me-2">
<div>
<h6 class="mb-0">PKVD</h6>
<p class="mb-0">Agro Implements</p>
</div>
</a>
{{!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button> --}}
{{!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#"></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Dropdown
        </a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" aria-disabled="true">Disabled</a>
    </li>
    </ul>
    <form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div> --}}
</div>
</nav>
</header>
<section class="hero-banner">
    <div class="overlay"></div>
    <h1>{{specific_name}}</h1>
</section>
<section class="details">
    <div class="container">
        {{#each specific_implement}}
        <div class="row justify-content-center">
            <div class="col-md-8">
                <img src="{{this.image_url}}" alt="" class="mb-3">
                <p>{{this.General_Information}}</p>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <h5>Function:</h5>
                    </div>
                    <div class="col-md-6">
                        {{this.function}}
                    </div>
                </div>
                   <div class="row mb-3">
                    <div class="col-md-6">
                        <h5>Specifications:</h5>
                    </div>
                    <div class="col-md-6">
                        {{this.Specifications}}
                    </div>
                </div>
                   <div class="row mb-3">
                    <div class="col-md-6">
                        <h5>Cost:</h5>
                    </div>
                    <div class="col-md-6">
                        {{this.Cost_of_the_unit}}
                    </div>
                </div>
                {{#if this.buy_now_url}}
                <a href="{{this.buy_now_url}}" class="btn-agro" target="_blank">Buy Now</a>
                {{/if}}
            </div>
            
        </div>
        {{/each}}
    </div>
</section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>